/* Put your CSS here */
.ember-application {
    margin: 3em;
}

#percentYes {
	background-color: #99CC33;
}

#percentNo, #percentYes {
	height: 3em;
	display: inline-block;
}

#percentNo {
	background-color: #AE0D0D;
}

#question, #submitQ {
	display: block;
	margin-left: 50em;
}

#question {
	height: 4em;
	width: 15em;
}

#submitQ {
	margin-top: 5em;
}

.content {
	margin: 1.5em;
}

#wrapper {
	position: relative;
}

#text {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 1.5em;
	top: 0.5em;
}